aq_display_flow.json
[
    {
        "id": "aq-display-flow",
        "type": "tab",
        "label": "Air Quality Display",
        "disabled": false,
        "info": "Displays live air quality readings from the D6310 sensors on the Axis Display Speaker.\n\nSubscribes to all D6310 MQTT topics via wildcard, rate-limits to 1 message per 30 seconds to avoid spamming the display, and posts AQI, CO2, and Temperature to the speaker.\n\nD6310 serials at the TTC:\n  Play Space:  E827251A7B8B\n  Learn Space: E827251A7B09\n  Server Rack: E827251AA4C6\n  Entrance:    E827251A8AF7"
    },
    {
        "id": "aq-setup-note",
        "type": "comment",
        "z": "aq-display-flow",
        "name": "Setup required",
        "info": "Before deploying:\n1. 'D6310 Air Quality' node: click the pencil next to Server and select the existing 10.129.174.38 broker\n2. 'POST to speaker display' node:\n   - Set URL to: http://<your-speaker-ip>/config/rest/speaker-display-notification/v1/simple\n   - Enter your speaker username and password in the credentials fields\n3. To show a specific sensor only, change the topic wildcard to the exact serial:\n   axis/E827251A7B09/event/tns:axis/AirQualityMonitor/Metadata/#",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "mqtt-in-aq",
        "type": "mqtt in",
        "z": "aq-display-flow",
        "name": "D6310 Air Quality",
        "topic": "axis/+/event/tns:axis/AirQualityMonitor/Metadata/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [["rate-limit"]]
    },
    {
        "id": "rate-limit",
        "type": "delay",
        "z": "aq-display-flow",
        "name": "Rate limit (1 per 30s)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 160,
        "wires": [["parse-aq"]]
    },
    {
        "id": "parse-aq",
        "type": "function",
        "z": "aq-display-flow",
        "name": "Format AQ message",
        "func": "var raw = msg.payload;\nvar data = raw.data || (raw.message && raw.message.data) || raw;\nvar aqi  = Number(data['AQI']         || 0).toFixed(0);\nvar co2  = Number(data['CO2']         || 0).toFixed(0);\nvar temp = Number(data['Temperature'] || 0).toFixed(1);\n// Pull the serial from the topic: axis/<SERIAL>/event/...\nvar sensorSerial = msg.topic.split('/')[1] || 'unknown';\nvar text = 'AQI: ' + aqi + '   CO2: ' + co2 + ' ppm   Temp: ' + temp + '\u00b0C   [' + sensorSerial + ']';\nmsg.payload = {\n    data: {\n        message: text,\n        textColor: '#FFFFFF',\n        backgroundColor: '#2D1B69',\n        textSize: 'large',\n        scrollDirection: 'fromRightToLeft',\n        scrollSpeed: 4\n    }\n};\nreturn msg;",
        "outputs": 1,
        "x": 570,
        "y": 160,
        "wires": [["vapix-notify-aq"]]
    },
    {
        "id": "vapix-notify-aq",
        "type": "http request",
        "z": "aq-display-flow",
        "name": "POST to speaker display",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://SPEAKER_IP/config/rest/speaker-display-notification/v1/simple",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "digest",
        "credentials": {
            "user": "",
            "password": ""
        },
        "x": 770,
        "y": 160,
        "wires": [["debug-aq"]]
    },
    {
        "id": "debug-aq",
        "type": "debug",
        "z": "aq-display-flow",
        "name": "API response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 960,
        "y": 160,
        "wires": []
    }
]
