tts_announcement_flow.json
[
    {
        "id": "workshop-mqtt-broker",
        "type": "mqtt-broker",
        "name": "Workshop MQTT",
        "broker": "10.129.174.38",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "closeTopic": "",
        "willTopic": "",
        "birthQos": "0",
        "closeQos": "0",
        "willQos": "0",
        "birthPayload": "",
        "closePayload": "",
        "willPayload": "",
        "birthMsg": {},
        "closeMsg": {},
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "workshop-tts-flow",
        "type": "tab",
        "label": "TTS Announcement",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tts-mqtt-in",
        "type": "mqtt in",
        "z": "workshop-tts-flow",
        "name": "restaurant/ready",
        "topic": "restaurant/ready",
        "qos": "0",
        "datatype": "utf8",
        "broker": "workshop-mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "tts-build-url"
            ]
        ]
    },
    {
        "id": "tts-build-url",
        "type": "function",
        "z": "workshop-tts-flow",
        "name": "Build TTS URL",
        "func": "// Parse JSON array of ready order numbers\nvar readyOrders;\ntry {\n    readyOrders = JSON.parse(msg.payload);\n} catch(e) {\n    readyOrders = [msg.payload];\n}\n\n// Skip empty arrays\nif (!Array.isArray(readyOrders) || readyOrders.length === 0) {\n    return null;\n}\n\n// Get previously announced orders from flow context\nvar announced = flow.get(\"announcedOrders\") || [];\n\n// Find only NEW orders (not yet announced)\nvar newOrders = readyOrders.filter(function(order) {\n    return announced.indexOf(order) === -1;\n});\n\n// If no new orders, stop\nif (newOrders.length === 0) {\n    return null;\n}\n\n// Save current ready list as announced\nflow.set(\"announcedOrders\", readyOrders);\n\n// Build announcement text\nvar text;\nif (newOrders.length === 1) {\n    text = \"Order number \" + newOrders[0] + \" is ready for pickup\";\n} else {\n    var last = newOrders.pop();\n    text = \"Orders \" + newOrders.join(\", \") + \" and \" + last + \" are ready for pickup\";\n}\n\nvar encoded = encodeURIComponent(text);\nmsg.url = \"https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=\" + encoded;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "tts-http-google"
            ]
        ]
    },
    {
        "id": "tts-http-google",
        "type": "http request",
        "z": "workshop-tts-flow",
        "name": "Google TTS",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "tts-build-upload"
            ]
        ]
    },
    {
        "id": "tts-build-upload",
        "type": "function",
        "z": "workshop-tts-flow",
        "name": "Build Upload",
        "func": "var boundary = \"----NodeREDFormBoundary\";\nvar filename = \"tts_announcement.mp3\";\n\n// Wrap MP3 binary in a multipart form body\nvar header = Buffer.from(\n    \"--\" + boundary + \"\\r\\n\" +\n    \"Content-Disposition: form-data; name=\\\"file\\\"; filename=\\\"\" + filename + \"\\\"\\r\\n\" +\n    \"Content-Type: audio/mpeg\\r\\n\\r\\n\"\n);\nvar footer = Buffer.from(\"\\r\\n--\" + boundary + \"--\\r\\n\");\n\nmsg.payload = Buffer.concat([header, msg.payload, footer]);\nmsg.headers = {\n    \"Content-Type\": \"multipart/form-data; boundary=\" + boundary\n};\n\n// Clear stale url from previous node (upload node has its own URL configured)\ndelete msg.url;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [
            [
                "tts-http-upload"
            ]
        ]
    },
    {
        "id": "tts-http-upload",
        "type": "http request",
        "z": "workshop-tts-flow",
        "name": "Upload to Speaker",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.129.174.195/axis-cgi/mediaclip.cgi?action=upload",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "digest",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 200,
        "wires": [
            [
                "tts-parse-clip-id"
            ]
        ]
    },
    {
        "id": "tts-parse-clip-id",
        "type": "function",
        "z": "workshop-tts-flow",
        "name": "Parse Clip ID & Play",
        "func": "// Response is \"OK\\nUploaded=3\" or \"OK\\nReplaced=3\"\nvar response = msg.payload;\nvar match = response.match(/(?:Uploaded|Replaced)=(\\d+)/);\n\nif (match) {\n    var clipId = match[1];\n    msg.url = \"http://10.129.174.195/axis-cgi/mediaclip.cgi?action=play&clip=\" + clipId;\n    msg.payload = null;\n    // Clear stale headers from upload step\n    delete msg.headers;\n    return msg;\n}\n\nnode.error(\"Failed to parse clip ID from: \" + response);\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "tts-http-play"
            ]
        ]
    },
    {
        "id": "tts-http-play",
        "type": "http request",
        "z": "workshop-tts-flow",
        "name": "Play Clip",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "digest",
        "senderr": false,
        "headers": [],
        "x": 1370,
        "y": 200,
        "wires": [
            [
                "tts-debug"
            ]
        ]
    },
    {
        "id": "tts-debug",
        "type": "debug",
        "z": "workshop-tts-flow",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 200,
        "wires": []
    }
]
