tts_announcement_flow.json
[
    {
        "id": "workshop-tts-flow",
        "type": "tab",
        "label": "TTS Announcement",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tts-mqtt-in",
        "type": "mqtt in",
        "z": "workshop-tts-flow",
        "name": "queue/ready",
        "topic": "queue/ready",
        "qos": "0",
        "datatype": "utf8",
        "broker": "workshop-mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [["tts-build-url"]]
    },
    {
        "id": "tts-build-url",
        "type": "function",
        "z": "workshop-tts-flow",
        "name": "Build TTS URL",
        "func": "const orderNumber = msg.payload;\nconst text = `Order number ${orderNumber} is ready for pickup`;\nconst encoded = encodeURIComponent(text);\n\nmsg.url = `https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=${encoded}`;\nmsg.headers = { 'User-Agent': 'Mozilla/5.0' };\nmsg.method = 'GET';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [["tts-http-google"]]
    },
    {
        "id": "tts-http-google",
        "type": "http request",
        "z": "workshop-tts-flow",
        "name": "Google TTS",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 520,
        "y": 200,
        "wires": [["tts-build-upload"]]
    },
    {
        "id": "tts-build-upload",
        "type": "function",
        "z": "workshop-tts-flow",
        "name": "Build Upload",
        "func": "const boundary = '----NodeREDFormBoundary';\nconst filename = 'tts_announcement.mp3';\n\n// msg.payload contains MP3 binary from Google TTS\nconst audioBuffer = msg.payload;\n\n// Construct multipart form body\nconst header = Buffer.from(\n    `--${boundary}\\r\\n` +\n    `Content-Disposition: form-data; name=\"file\"; filename=\"${filename}\"\\r\\n` +\n    `Content-Type: audio/mpeg\\r\\n\\r\\n`\n);\nconst footer = Buffer.from(`\\r\\n--${boundary}--\\r\\n`);\n\nmsg.payload = Buffer.concat([header, audioBuffer, footer]);\nmsg.headers = {\n    'Content-Type': `multipart/form-data; boundary=${boundary}`\n};\nmsg.url = 'http://10.129.174.195/axis-cgi/mediaclip.cgi?action=upload';\nmsg.method = 'POST';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [["tts-http-upload"]]
    },
    {
        "id": "tts-http-upload",
        "type": "http request",
        "z": "workshop-tts-flow",
        "name": "Upload to Speaker",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "digest",
        "senderr": false,
        "headers": [],
        "credentials": {
            "user": "root",
            "password": "pass"
        },
        "x": 930,
        "y": 200,
        "wires": [["tts-parse-clip-id"]]
    },
    {
        "id": "tts-parse-clip-id",
        "type": "function",
        "z": "workshop-tts-flow",
        "name": "Parse Clip ID & Play",
        "func": "// Response is like \"OK\\nUploaded=3\" or \"OK\\nReplaced=3\"\nconst response = msg.payload;\nconst match = response.match(/(?:Uploaded|Replaced)=(\\d+)/);\n\nif (match) {\n    const clipId = match[1];\n    msg.url = `http://10.129.174.195/axis-cgi/mediaclip.cgi?action=play&clip=${clipId}`;\n    msg.method = 'GET';\n    msg.headers = {};\n    msg.payload = null;\n    return msg;\n}\n\nnode.error('Failed to parse clip ID from: ' + response);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 200,
        "wires": [["tts-http-play"]]
    },
    {
        "id": "tts-http-play",
        "type": "http request",
        "z": "workshop-tts-flow",
        "name": "Play Clip",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "digest",
        "senderr": false,
        "headers": [],
        "credentials": {
            "user": "root",
            "password": "pass"
        },
        "x": 1370,
        "y": 200,
        "wires": [["tts-debug"]]
    },
    {
        "id": "tts-debug",
        "type": "debug",
        "z": "workshop-tts-flow",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 200,
        "wires": []
    }
]